.idea
/ExpressJS-Fundamentals/ShopStop/node_modules
/ExpressJS-Fundamentals/PersistenceExercise/MemeDB/node_modules
/ExpressJS-Fundamentals/PersistenceExercise/MongoPlayground/node_modules
node_modules
package-lock.json
