<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create" routerLinkActive="active">Create Furniture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/furniture" routerLinkActive="active">My Furniture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>

  <div class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>