<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects Manager</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/teams">Teams</a></li>
            {{#if isAdmin}}
                <li><a href="/team/create">Create Team</a></li>
                <li><a href="/project/create">Create Project</a></li>
            {{/if}}
            <div class="right">
                {{#if currentUser}}
                    <li>Welcome, {{currentUser.username}}!</li>
                    <li><a href="/user/profile">Profile</a></li>
                    <li>
                        <form id="logout-form" action="/logout" method="post"></form>
                        <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                    </li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {{/if}}
                
            </div>
        </ul>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        Express Exam @SoftUni
    </footer>
</body>

</html>