<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Registration Form</h1>
      <form #f="ngForm" (ngSubmit)="handleSubmit()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" placeholder="Full Name" ngModel name="fullName" #fullName="ngModel" required>
        </div>
        <div *ngIf="fullName.invalid && fullName.touched" class="alert alert-danger">Please enter valid name</div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input class="form-control" placeholder="Email Address" type="email" ngModel name="email" #email="ngModel"
            required>
        </div>
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger">Please enter valid email</div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px;" name="phoneCode" ngModel required>
            <option value="" disabled>Choose a Phone Code</option>
            <option *ngFor="let phoneCode of phoneCodes;" [value]="phoneCode">{{phoneCode}}</option>
          </select>
          <input class="form-control" placeholder="Phone number" type="text" ngModel name="phoneNumber">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <select class="form-control" ngModel name="jobTitle" required>
            <option value="" disabled>Choose a Job Title</option>
            <option *ngFor="let jobTitle of jobTitles;" [value]="jobTitle">{{jobTitle}}</option>
          </select>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" placeholder="Create password" type="password" ngModel name="password">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" placeholder="Repeat password" type="password" ngModel name="repeatPassword">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" [disabled]="f.invalid"> Create Account </button>
        </div>
        <p class="text-center">Have an account? <a href="">Log In</a> </p>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>